*{
    font-family:Roboto,sans-serif;
    font-size:18px;
    margin:0;
    padding:0;
}

/* Header styling */
.header{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:128px;
    padding-top:16px;
    padding-bottom:0px;
    background-color:#1F2937;
    color:white;
}

.header-text{
    color:#F9FAF8;
    font-weight:bold;
    font-size:24px;
    margin:0;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:0;
    padding-top:0;
}

.main{
    color:#F9FAF8;
    font-weight:bolder;
    font-size:48px;
    margin:0;
}

.secondary{
    margin:0;
    margin-bottom:16px;
}

ul {
    display:flex;
    list-style-type: none;
    margin:0;
    padding:0;
    gap:24px;
}

a{
    text-decoration:none;
    color:white;
}

.bottom{
    display:flex;
    justify-content:space-between;
    margin-top:128px;
    margin-bottom:128px;
}

.content{
    margin-left:0px;
    max-width:512px;
}

button{
    background-color:#3882F6;
    color:white;
    border: 1px;
    cursor: pointer;
    padding: 4px 24px;
    border-radius: 8px;
    font-weight:bold;
    margin-top:8px;
    display:flex;
    align-items:center;
}

.image{
    background-color:black;
    padding:0;
    margin:0;
    height:200px;
    width:500px;
    flex-shrink:0;
}


/* Information styling */
.information{
    background-color:yellow;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:32px;
}

.info-header{
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
}

.pairs-container{
    display:flex;
    justify-content:center;
    gap:32px;
    padding:32px;
    flex-wrap:wrap;
}

.pair{
    text-align:center;
    max-width:200px;
}

.image-frame{
    height:200px;
    width:200px;
    border:solid;
    border-width:4px;
    border-color:#3882F6;
    border-radius:16px;
    margin-bottom:16px;
}

.subtext {
    color:#1F2937;
}

/* Quote styling */
.quote {
    background-color:#E5E7EB;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:200px 300px;
}

.quote-main{
    color:#1F2937;
    font-style:italic;
    font-size:36px;
    font-weight:100;
}

.quote-person, i{
    color:#1F2937;
    text-align:right;
    font-weight:bold;
    font-size:30px;
}

/* Sign up styling */
.sign-up{
    background-color:#3882F6;
    display:flex;
    justify-content:space-between;
    margin:128px;
    border-radius:16px;
    padding:64px;
}

.sign-up-header{
    font-size:24px;
    font-weight:bold;
    color:white;
}

.sign-up-subtext{
    font-size:18px;
    color:white;
}

.sign-up button{
    border-style:solid;
    border-color:white;
    border-width:2px;
}

/* Footer styling */
.footer{
    background-color:#1F2937;
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer-text{
    color:white;
    padding:32px;
}